*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
}


/* ===== MAIN DIV ===== */

.main{
    padding: 2rem 5rem;
    width: 100%;
    text-align: center;
}

.main h1{
    font-size: 2.75rem;
    margin-bottom: 2rem;
}


/* ===== GAME AREA ===== */

.main .gameArea{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.319);
}


/* ===== GAME AREA - HEADER ===== */

.main .gameArea header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 3rem;
}

.main .gameArea header section{
    width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.157);
}

.main .gameArea header section:hover{
    border: solid rgba(255, 255, 255, 0.12);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.358);
}

.main .gameArea header section span{
    font-size: 32px;
    font-weight: 600;
}

/* ===== GAME AREA - MID PORTION ===== */

.main .gameArea .timer{
    font-size: 24px;
    font-weight: 600;
    line-height: 3rem;
    margin-top: 2rem;
}

.main .gameArea .timer span{
    font-size: 34px;
    font-weight: 600;
}

.main .gameArea .rulesButton{
    position: relative;
    left: 42%;
    top: -75px;
}

.main .gameArea .startStmt{
    color: red;
    position: relative;
    top: -20px;
}

/* ===== GAME AREA - MAIN SECTION ===== */

.main .gameArea main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 4rem 4rem 4rem;
}


/* ===== MAIN - TEXT AND INPUT FEILDS ===== */

.main .gameArea main .textArea, .main .gameArea main .inputArea{
    width: 49.5%;
    height: 25rem;
    text-align: justify;
    font-size: 26px;
    line-height: 2.5rem;
    padding: 1.5rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.319);
    border: none;
}

.main main .textArea:hover, .main main .inputArea:hover{
    border: solid rgba(255, 255, 255, 0.12);
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.519);
}


/* ===== RULES BUTTON ===== */

.main .rulesButton{
    font-size: 24px;
    font-weight: 600;
    padding: 4px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: black;
    color: white;
    cursor: pointer;
    border: solid black;
}

.main .rulesButton:hover{
    border: solid rgba(255, 255, 255, 0.12);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.519);
}

/* ===== RULES PAGE ===== */

.rulesPage{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    flex-direction: column;
    align-items: center;
    padding: 3rem 5rem;
    text-align: center;
    background-color: white;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.687);
    z-index: 100;
    display: none;
}

.rulesPage:hover{
    box-shadow: 4px 8px 25px rgba(0, 0, 0, 0.687);
}

.rulesPage h2{
    font-size: 2.25rem;
    margin-bottom: 1.5rem;
}

.rulesPage p{
    font-size: 1.75rem;
    line-height: 2.5rem;
}

.rulesPage .green{
    color: green;
    font-weight: 500;
}

.rulesPage .red{
    background-color: red;
    color: white;
}

.rulesPage button{
    margin-top: 2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    background-color: black;
    color: white;
    border: solid rgb(45, 48, 5);
    box-shadow: 6px 6px 10px rgb(118, 118, 6);
    cursor: pointer;
}

.rulesPage button:hover{
    border: solid black;
    box-shadow: 8px 8px 15px rgb(181, 181, 7);
}


/* ===== END PAGE ===== */

.endPage{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    flex-direction: column;
    align-items: center;
    padding: 3rem 5rem;
    text-align: center;
    background-color: white;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.687);
    z-index: 100;
    display: none;
}

.endPage:hover{
    box-shadow: 4px 8px 25px rgba(0, 0, 0, 0.687);
}