*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ===== WELCOME ===== */

.welcome{
    width: 750px;
    max-width: calc(100% - 4rem);
    height: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    background-color: white;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.687);
    z-index: 100;
}

.welcome:hover{
    box-shadow: 4px 8px 25px rgba(0, 0, 0, 0.687);
}

.welcome h1{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.welcome p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.25rem;
}

.welcome h2{
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-top: 1.5rem;
}

.welcome button{
    width: fit-content;
    margin-top: 2rem;
    padding: 0.6rem 3rem;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 2.5px;
    background-color: black;
    color: white;
    border: solid rgb(45, 48, 5);
    border-radius: 0.5rem;
    box-shadow: 6px 6px 10px rgb(118, 118, 6);
    cursor: pointer;
}

.welcome button:hover{
    border: solid black;
    box-shadow: 8px 8px 15px rgb(181, 181, 7);
}


/* ===== MAIN DIV ===== */

.main{
    padding: 2rem 5rem;
    width: 100%;
    text-align: center;
    filter : blur(8px);
}


/* ===== GAME AREA ===== */

.main .gameArea{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.319);
    background-color: #f4f4f486;
}


/* ===== GAME AREA - HEADER ===== */

.main .gameArea header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 3rem;
}

.main .gameArea header section{
    width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.157);
}

.main .gameArea header section:hover{
    border: solid thin rgba(255, 255, 255, 0.12);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.358);
}

.main .gameArea header section span{
    font-size: 32px;
    font-weight: 600;
}

/* ===== GAME AREA - MID PORTION ===== */

.main .gameArea .timer{
    font-size: 24px;
    font-weight: 600;
    line-height: 3rem;
    margin-top: 2rem;
}

.main .gameArea .timer span{
    font-size: 34px;
    font-weight: 600;
}

.main .gameArea .rulesButton{
    position: relative;
    left: 42%;
    top: -75px;
}

.main .gameArea .startStmt{
    color: red;
    position: relative;
    top: -20px;
}

/* ===== GAME AREA - MAIN SECTION ===== */

.main .gameArea main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 4rem 4rem 4rem;
}


/* ===== MAIN - TEXT AND INPUT FIELDS ===== */

.main .gameArea main .textArea, .main .gameArea main .inputArea{
    width: 49.5%;
    height: auto;
    text-align: justify;
    font-size: 24px;
    line-height: 2.5rem;
    padding: 2rem;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.319);
    border: none;
    font-family: "Times New Roman", Times, serif;
}

.main main .textArea:hover, .main main .inputArea:hover{
    border: solid thin rgba(255, 255, 255, 0.12);
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.519);
}

.main main .inputArea:focus{
    outline-width: 0;
}

/* ===== RULES BUTTON ===== */

.main .rulesButton{
    font-size: 24px;
    font-weight: 600;
    padding: 4px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: black;
    color: white;
    cursor: pointer;
    border: solid black;
}

.main .rulesButton:hover{
    border: solid rgba(255, 255, 255, 0.12);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.519);
}

/* ===== RULES PAGE ===== */

.rulesPage{
    width: 650px;
    max-width: calc(100% - 4rem);
    height: auto;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
    background-color: white;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.687);
    z-index: 100;
    display: none;
}

.rulesPage:hover{
    box-shadow: 4px 8px 25px rgba(0, 0, 0, 0.687);
}

.rulesPage h2{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.rulesPage p{
    font-size: 1.5rem;
    line-height: 2.25rem;
}

.rulesPage .green{
    color: green;
    font-weight: 500;
}

.rulesPage .red{
    background-color: red;
    color: white;
}

.rulesPage button{
    margin-top: 2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: black;
    color: white;
    border: solid rgb(45, 48, 5);
    box-shadow: 6px 6px 10px rgb(118, 118, 6);
    cursor: pointer;
}

.rulesPage button:hover{
    border: solid black;
    box-shadow: 8px 8px 15px rgb(181, 181, 7);
}


/* ===== END PAGE ===== */

.endPage{
    width: 500px;
    max-width: calc(100% - 4rem);
    height: auto;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
    background-color: white;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.687);
    z-index: 100;
    display: none;
}

.endPage:hover{
    box-shadow: 4px 8px 25px rgba(0, 0, 0, 0.687);
}

.endPage h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.endPage p{
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.endPage .trophy{
    font-size: 6rem;
    margin-bottom: 2rem;
    line-height: 6rem;
}

.endPage span{
    font-weight: 600;
}

.endPage button{
    margin-top: 1.5rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    background-color: black;
    color: white;
    border: solid rgb(45, 48, 5);
    box-shadow: 6px 6px 10px rgb(118, 118, 6);
    cursor: pointer;
}

.endPage button:hover{
    border: solid black;
    box-shadow: 8px 8px 15px rgb(181, 181, 7);
}



/* ===== MEDIA QUERIES ===== */

@media screen and (max-width: 900px){
    /* ===== MAIN DIV ===== */

    .main{
        padding: 2rem;
    }

    .main .gameArea header section span{
        font-size: 28px;
    }

    /* ===== GAME AREA - MID PORTION ===== */

    .main .gameArea .timer{
        font-size: 22px;
        line-height: 2rem;
        margin-top: 1.5rem;
    }

    .main .gameArea .timer span{
        font-size: 28px;
    }

    .main .gameArea .rulesButton{
        top: -50px;
    }

    /* ===== MAIN - TEXT AND INPUT FIELDS ===== */

    .main .gameArea main .textArea, .main .gameArea main .inputArea{
        font-size: 20px;
        line-height: 2rem;
        padding: 1.5rem;
    }
}


@media screen and (max-width: 600px) {
    /* ===== WELCOME ===== */

    .welcome{
        padding: 1.5rem 0.5rem;
        max-width: calc(100% - 2rem);
    }

    .welcome h1{
        font-size: 1.35rem;
        margin-bottom: 1.5rem;
    }

    .welcome p{
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .welcome h2{
        font-size: 1.1rem;
        letter-spacing: 0.5px;
        margin-top: 1rem;
    }

    .welcome button{
        margin-top: 1rem;
        padding: 0.4rem 1.5rem;
        font-size: 0.75rem;
        letter-spacing: 1.5px;
    }

    
    /* ===== GAME AREA - HEADER ===== */

    .main .gameArea header{
        font-size: 14px;
        line-height: 1.25rem;
    }

    .main .gameArea header section span{
        font-size: 18px;
    }

     /* ===== GAME AREA - MAIN SECTION ===== */

     .main .gameArea main{
        padding: 0 2rem 2rem 2rem;
    }

    
    /* ===== GAME AREA - MID PORTION ===== */

    .main .gameArea .timer{
        font-size: 14px;
        line-height: 1.5rem;
        margin-top: 0.75rem;
    }

    .main .gameArea .timer span{
        font-size: 18px;
    }

    .main .gameArea .rulesButton{
        left: 40%;
        top: -45px;
    }

    .main .gameArea .startStmt{
        font-size: 10px;
    }
    
    /* ===== MAIN - TEXT AND INPUT FIELDS ===== */

    .main .gameArea main .textArea, .main .gameArea main .inputArea{
        font-size: 12px;
        line-height: 1.2rem;
        padding: 0.75rem;
    }


    /* ===== RULES BUTTON ===== */

    .main .rulesButton{
        font-size: 14px;
        padding: 1px;
        height: 20px;
        width: 20px;
    }

    /* ===== RULES PAGE ===== */

    .rulesPage{
        padding: 1.5rem 0.5rem;
        max-width: calc(100% - 2rem);
    }

    .rulesPage h2{
        font-size: 1.35rem;
    }

    .rulesPage p{
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .rulesPage button{
        margin-top: 1rem;
        padding: 0.4rem 1.1rem;
        font-size: 0.7rem;
        letter-spacing: 1.5px;
    }

    
    /* ===== END PAGE ===== */

    .endPage{
        padding: 1.5rem 0.5rem;
        max-width: calc(100% - 2rem);
    }

    .endPage h2{
        font-size: 1.35rem;
        margin-bottom: 1rem;
    }

    .endPage p{
        font-size: 0.85rem;
        line-height: 1.25rem;
    }

    .endPage .trophy{
        font-size: 3rem;
        margin-bottom: 1rem;
        line-height: 3rem;
    }

    .endPage button{
        margin-top: 1rem;
        padding: 0.4rem 1.1rem;
        font-size: 0.7rem;
        letter-spacing: 1.5px;
    }

}

/* ===== CLASS FOR CORRECT INPUT ===== */

.correct{
    color: green;
    font-weight: 500;
}

/* ===== CLASS FOR INCORRECT INPUT ===== */

.incorrect{
    color: white;
    background-color: red;
}